@import '../../../styles/App.scss';

.TestCard {
  background-color: lighten($color-medium, 30%);
  // border-radius: 10px;
  width:100%;
  margin: 15px 0 0;
  padding: 1rem 1.5rem;
  box-shadow: 3px 3px 7px 1px #ccc;
  display: flex;

  .TestInfo {
    flex: 7;
  }

  .TestActions {
    flex: 1;
    display:flex;
    justify-content: space-around;

    i {
      font-size: 1.2rem;
      margin: 0 20px;
    }
    i:hover {
      cursor: pointer;
      // color: darken($color-green, 20%);
      color: lighten($color-dark, 10%);
    }
  }

  .Bin {
    color: $color-darkest;
    font-size: 1.2rem;
    
    :hover {
      background-color: blue;
    }
  }

}

.ExtraInfo {
  background-color: $color-bg2;
  // border-radius: 10px;
  width:100%;
  margin: 0;
  padding: 1.5rem 1.5rem;
  box-shadow: 3px 3px 7px 1px #ccc;
  // display: flex;

  .AssignTest {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    .StName {
      width: 33%;
      padding: 0.4rem 0.6rem;
      
      i {
        margin-right: 10px;
      }
    }
  }
  
}
