@import '../../../styles/App.scss';

.TestCard {
  background-color: $color-bg2;
  // border-radius: 10px;
  width:100%;
  margin: 10px 0;
  padding: 1.5rem 1.5rem;
  box-shadow: 1px 1px 7px 1px #ccc;
  display: flex;

  .TestInfo {
    flex: 7;
  }

  .TestActions {
    flex: 1;
    display:flex;
    justify-content: center;
  }

  .Bin {
    color: $color-darkest;
    font-size: 1.2rem;
    
    :hover {
      background-color: blue;
    }
  }

}
