@import '../../../styles/App.scss';

.NavItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: 100%;

  li {
    
    a {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0px 20px;
      text-decoration: none;
      color: inherit;
      margin-top: 3px;
    }
    
    a.active {
      background-color: $color-bg2;
      margin-top: 5px;
      color: #000;
      border-radius: 6px 6px 0 0;
      cursor: default;
    }
    // a:hover {
    //   margin-top: 5px;
    //   cursor: pointer;

    // }

  }

  
}

.Welcome {
  height: 100%;
  display: flex;
  align-items: center;
}
