@import '../../../styles/App.scss';

.Button {
  outline: none;
  padding: 0.7rem 1.2rem;
  border-radius: 7px;
  border: none;
  background-color: $color-dark;
  color: #fff;
  // display: flex;
  // align-items: center;
}

.Button:hover {
  cursor: pointer;
  background-color: lighten($color-dark, 20%)
}
