@import '../../../styles/App.scss';

.TopBar {
  width: 100%;
  height: 8vh;
  background-color: $color-dark;
  color: #fff;
}

.teacher {
  @include set-flex-container();
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;

  nav {
    height: 100%;
  }
}

.student {
  @include set-flex-container(100%);
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  height: 100%;

  nav {
    height: 100%;
  }
}
