@import '../../../styles/App.scss';

.TopBar {
  width: 100%;
  height: 10vh;
  background-color: $color-dark;
  color: #fff;
}

.teacher {
  @include set-flex-container();
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;

  nav {
    height: 100%;
    padding-top: 20px;
  }

  .LogoutArea {
    display: flex;
    align-items: center;
    
    .LogoutButton {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      padding-right: 15px;

      span {
        font-size: 0.9rem;
        padding: 0.2rem 0;
        font-weight: 400;
        
      }
    }
  }
}

.student {
  @include set-flex-container(100%);
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  height: 100%;

  nav {
    height: 100%;
  }

  .LogoutArea {
    display: flex;
    align-items: center;
    
    .LogoutButton {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      padding-right: 15px;

      span {
        font-size: 0.9rem;
        padding: 0.2rem 0;
        font-weight: 400;
      }
    }
  }
}
