@import '../../../styles/App.scss';

.TestCreator {
  
  width: 100%;
  border: 2px solid blue;
  padding: 3rem 0;

  input {
    outline: none;
    border-radius: 5px;
    border: 1px #ccc solid;
  }

  .Title {
    width: 70%;
    display: block;
    // margin: 0 auto;
    height: 6vh;
    padding: 0 12px;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  .QuestionsList {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid green;
    justify-content: space-between;
    padding: 2.5rem 0;
  }
  
}
