@import '../../../../styles/App.scss';

.PendingTests {
  margin: 8vh auto 0;
  width: 90%;
  background-color: $color-bg2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: $br-xl;
  padding: 1.5rem 0;
}
