.QuestionCreator {

  margin-top: 50px;

  input {
    outline: none;
    display: block;
    padding: 8px;
    width: 70%;
    margin: 5px;
  }

  select {
    padding: 7px 15px;
    font-size: 16px;
    font-family: inherit;
  }
}
