@import '../../../../styles/App.scss';

.QuestionCreator {
  margin-top: 50px;

  input {
    outline: none;
    display: block;
    padding: 8px 15px;
    width: 70%;
    margin: 0.5rem auto;
    font-weight: 300;
  }

  input:nth-child(1) {
    font-weight: 500;
    margin-bottom: 1.4rem;
  }

  input[type=file]::-webkit-file-upload-button {
    border: 2px solid #97b4dc;
    padding: .2em .4em;
    color: #000;
    border-radius: .2em;
    background-color: #97b4dc;
    transition: 1s;
    outline: none;
  }

  input[type=file]::file-selector-button {
    border: 2px solid #97b4dc;
    padding: .2em .4em;
    color: #000;
    border-radius: .2em;
    background-color: #97b4dc;
    transition: 1s;
    outline: none;
  }

  select {
    padding: 7px 15px;
    font-size: 16px;
    font-family: inherit;
    display: block;
    width: 50%;
    margin: 2rem auto;
  }

  // .ImageInput {

  // }

  .Button {
    margin: 20px auto;
    width: 70%;
  }
}
