@import '../../../../styles/App.scss';

.AssignTest {

  .Assign {
    // padding: 0.4rem 1rem;
    line-height: 1.7rem;
    min-height: 2rem;
    background-color: $color-bg2;
    width: fit-content;
    // border-radius: $br-s;
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.1rem;
  }

  .Assign:hover {
    cursor: pointer;
    border-bottom: 2px solid $color-dark;
  }

  .Assign:active {
    color: $color-green;
  }

  .Students {
    max-height: 50vh;
    overflow: scroll;
    margin-bottom: 1rem;
  }
}
