@import '../../../../../styles/App.scss';

.StudentCard {
  border: 1px solid #ddd;
  // background-color: $color-dark;
  padding: 0.6rem 2rem; 
  margin: 3px 0;
  display: flex;
  justify-content: space-between;

  .StudentName {
    i {
      margin-right: 10px;
    }
  }

  .StudentActions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;

    .StudentActionsItem {

      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 35px;

      i {
        font-size: 1.2rem;
      }

      .Tick {
        font-size: 0.9rem;
        color: darken($color-green, 10%);
        margin-left: 6px;
      }
      .Circle {
        margin-left: 6px;
        font-size: 0.5rem;
        color: $color-red;
      }

      .Chart:hover {
        cursor: pointer;
        color: lighten($color-dark, 10%);
      }
    }
  }
}

.StudentCard:hover {
  background-color: $color-bg;
}
