@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

// Font
$main-font: 'Rubik', sans-serif;

// Colors
$color-red: #E63046;
$color-bg: #F1FAEE;
$color-bg2: #FFF;
$color-light: #A8DADC;
$color-medium: #457B9D;
$color-dark: #1D3557;
$color-darkest: #000;
$color-green: #34b371;

$br-xs: 5px;
$br-s: 10px;
$br-m: 15px;
$br-l: 25px;
$br-xl: 35px;

$font-size-t1: 2rem;
